* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  padding: 0;
}
.header {
  background-image: url(./media/vecteezy_abstract-background-graphic-blue-pink-background_7461950.jpg);
  box-sizing: border-box;
  background-position: center;
}
.header-h,
.header-p,
.header-nav {
  padding: 10px;
}
.header-nav a {
  text-decoration: none;
  color: blueviolet;
}
.header-section {
  padding: 20px;
}
.line-one {
  display: none;
}
.img-intro {
  display: flex;
}
.img {
  padding: 20px;
}
.intro {
  padding: 30px;
  margin-top: 30px;
}
.img h2 {
  color: #611fad;
}
.img img {
  width: 150px;
  border-radius: 18px;
  margin-top: 5px;
  border-color: #caa8f0;
}

.moi {
}
.objectif {
  margin-top: 20px;
}
.main-1 {
  text-align: center;
}
.main-2 {
  margin: 10px;
  display: flex;
  justify-content: center;
  padding: 40px;
  gap: 5px;
}
